:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(0, 11%, 12%);
  font-weight: 700;
  background: hsl(185, 75%, 39%);
  overflow: hidden;
  /* background-image: url('./images/bg-pattern-top.svg') no-repeat; */
}

section{
    /* background-image: url('./images/bg-pattern-bottom.svg') no-repeat; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.card-header{
    background-image: url('./images/bg-pattern-card.svg');
    background-size: cover;
    height: 150px;
    width: 100%;
}

.card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.img-holder img{
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
}

.img-holder{
    position: relative;
    top: -50px;
}

.name-age{
    margin-top: -2rem;
}

.city
{
    padding-top: 1rem;
    font-weight: 600;
    color: hsl(0, 3%, 66%);
}

.age{
    color: hsl(0, 3%, 66%);
}

.card-footer{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border-top: 1px solid hsla(0, 3%, 86%, 0.808);
}

.meta{
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 10px;
    color: hsl(0, 3%, 66%);
    letter-spacing: 1.5pt;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circle-top{
    position: absolute;
    background-repeat: no-repeat;
    /* background-image: url('./images/bg-pattern-top.svg'); */
    height: auto;
    width: 100vw;
    transform: translate(-15vw, -50vh) ;
    z-index: -1;
}

.circle-bottom{
    position: absolute;
    background-repeat: no-repeat;
    height: fit-content;
    transform: translate(30vw, 65vh) ;
    z-index: -1;
}